body{
    max-width: 75rem;
    margin: 0 auto;
    display: block;
    header{
        img{
            object-fit: cover;
            max-width: 500px;
            max-height: 250px;
        }
    }
}